*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(12, 14, 20);
    overflow: hidden;
}

strong{
    font-size: 200px;
    height: 100px;
    text-align: start;
    text-size-adjust: none;
    color: rgb(255, 0, 43);
    text-transform: capitalize;
    position: absolute;
    white-space: nowrap;
    padding-right: 50px;
    animation: rotate_text 5000ms linear infinite;
}

@keyframes rotate_text {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-50%);
    }
}